.Carousel.Caption {
    background-color: red;
    text-decoration-color: aqua;
}

.Carousel {
    background-color: aquamarine;
}

.alt {
    background-color: chartreuse;
}

.jumbotron{
    background-image: url("../img/pic3.jpg");
    background-size: cover; 
    min-height: 300px;
    height: 100%;
    width: 100%;
    
}

.container-fluid {
    background-color: black;
    color: black;
}

.mapid {
    color: green;
}

/*Delete*/
.mapContainer {
    background-color: darkseagreen;
}